#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 30px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;

    margin: 0;
}

#container a {
    text-decoration: none;
}

.Fondo{
    --background:url(../../assets/img/Fondo.jpg)0/100% 100% no-repeat;
}

.logo img{
    width: 60%;
}

form ion-input{
    margin-top: 10px;
    box-sizing: border-box;
    border-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
}

form ion-input:hover{
    border-color: #9b9b9b;
}

ion-header ion-icon{
    position: relative;
    margin: 10% 80%;
    color: #acacacda;
}

ion-header ion-icon:hover{
    color: #ffffff;
}