<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1> ¡Recupera tu Cuenta!</h1>
      <p>Envia un mensaje de recuperacion</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-item>
            <ion-label position="floating">Correo Electronico</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
      </div>
    <div class="action-button ion-padding">
        <ion-button routerLink="/login" size="large" class="login-button">Enviar</ion-button>
    </div>
  </div>
</ion-content>