<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" ></ion-back-button>
    </ion-buttons>
    <img id="logo" src="../../assets/img/Logo.png" alt="">
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-title>Programar Viaje</ion-title>
   <div class="containeragenda">
      <div id="datos">
      <ion-item >
         <ion-label position="floating">N° Pasajeros:</ion-label>
         <ion-input [(ngModel)]="numeropasajeros"></ion-input>
      </ion-item>
      <ion-item >
      <a href=""><ion-icon name="car-sport-outline"></ion-icon></a>
    </ion-item>
   </div>
   </div>
   
    
</ion-content>