
#logo{
  height: 15%;
  width: 15%;
  margin-left: 33.5%;
  margin-top: 3%;
}

#icoinfo{
  height: 32px;
  width: 32px;
  position: absolute;
  margin-left: 83%;
  margin-bottom: 18%;
  cursor: pointer;
  transition: 1s;
}

#icoinfo:hover{
  height: 32px;
  width: 32px;
  position: absolute;
  margin-left: 83%;
  margin-bottom: 18%;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.3);
}

ion-content.background{
  --background: url("../../assets/img/mapa.jpg");
}


.curved{
  position: absolute;
  background-color: rgb(21, 21, 21);
  text-align: center;
  color: white;
  margin-top: 30px;
  height: 225px;
  width: 100%;
  z-index: 1;
  transform: translateY(-15%);
}

.curved a{
  background-color: rgb(37, 148, 245);
  padding: 1.4em;
  color: white;
  text-decoration: none;
  border-radius: 45px 45px 45px 45px;
  border: solid 1px white;
  cursor: pointer;
  transition: 1s;
  
}
  


.curved a:hover{
  background-color: rgb(37, 148, 245);
  padding: 2em;
  color: white;
  text-decoration: none;
  border-radius: 40px 40px 40px 40px;
  border: solid 1px white;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.5);
}

.curved h4{
  margin-top: 14%;
  font-size: 17px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*https://getwaves.io/*/
.curved svg{
  transform: translateY(-70%);
}

